{
  "openapi": "3.0.0",
  "info": {
    "title": "XzyyMDS API Documentation",
    "description": "Free Rest API For Everyone.",
    "version": "1.0.3"
  },
  "contact": {
    "email": "xzyymds@gmail.com"
  },
  "servers": [
    {
      "url": "https://api.xzyymds.web.id",
      "description": "Main Server"
    }
  ],
  "paths": {
    "/api/ytmp4": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/ytmp3": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/mediafire": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/spotifydl": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudesusearch": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudesudetails": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudesuongoing": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/nimegamisearch": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/nimegamidetails": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/nimegamiongoing": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/kusonimesearch": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/kusonimelatest": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/playstore": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/fmodsearch": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/fmoddetails": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/fmodlatest": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/modyolosearch": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/modyolodetails": {
      "get": {
        "tags": ["APK"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/npmsearch": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data berhasil diambil."
          }
        }
      }
    },
    "/api/pinterest": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/ytsearch": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/createqr": {
      "get": {
        "tags": ["Other"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "text",
            "in": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/ssweb": {
      "get": {
        "tags": ["Other"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/uuid": {
      "get": {
        "tags": ["Other"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "length",
            "in": 1,
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    }
  }
}