{
  "openapi": "3.0.0",
  "info": {
    "title": "XzyyMDS | Rest API",
    "description": "Free Rest API For Everyone.",
    "version": "1.0.3"
  },
  "servers": [
    {
      "url": "https://api.xzyymds.web.id",
      "description": "Main Server"
    }
  ],
  "paths": {
    "/api/ytmp4": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/ytmp3": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/mediafire": {
      "get": {
        "tags": ["Downloader"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudesearch": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudedetails": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "url",
            "in": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/otakudesuongoing": {
      "get": {
        "tags": ["Anime"],
        "summary": "",
        "description": "",
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/npmsearch": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data berhasil diambil."
          }
        }
      }
    },
    "/api/pinterest": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/playstore": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    },
    "/api/ytsearch": {
      "get": {
        "tags": ["Search"],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data."
          }
        }
      }
    }
  }
}